*{padding: 0; margin:0; box-sizing: border-box; font-family: sans-serif;}
header{
	width: 100%;
	height: 100vh;
	background: black;
	clip-path: polygon(100% 0, 100% 91%, 49% 100%, 0 91%,0 0);
	border-top: 0.5rem solid #fe1d4a;
	/* background-image: url("bg.jpg");*/
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("gymf2.webp"); 
	background-repeat: no-repeat;
	background-size: cover; 
}
nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;	
	position: fixed;
}
 .logo{
	font-size: 50px;
	font-weight: bold ;
	font-size: 50px;
} 
#blue{
	color:#fe1d4a;	
}
.menu a{
	text-decoration: none;
	color: white;;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	
}
.menu a:hover,.menu a.active{
	text-decoration: underline;
	color: aqua;
}

.menu a:first-child{
	border-bottom: 2px solid #fe1d4a;
}
.icon img{
	width: 150px;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	
}
.right{
	flex-basis: 50%;
	max-width: 900px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.right h1{
	color: #fff;
	font-size: 100px;
}

.btn{
	background: transparent;
	
	color:#fe1d4a;
	border: 2px solid#ec4141;
	border-radius: 8px;
	margin: 20px;
	cursor: pointer;
	font-size: 20px;
    padding: 0.5rem 2.5rem;	
}
.btn:hover{
	background-color: #fe1d4a;
	font-size: xx-large;
	color: black;
}

#about{
	padding: 100px 0px;
}
.about-row{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.about-left-col{
	flex-basis: 50%;

}
.about-right-col{
	flex-basis: 50%;	
	text-align: center;
}
.about-right-col img{
	width: 80%;
}
.about-left-col{
	max-width: 400px;
	margin:auto;
}


.about-left-col h1{
	font-size: 50px;
}
.about-left-col p{
	font-size: 20px;
	text-align: justify;
	margin:15px 0px;
}


.c-btn{
	padding: 10px;
	margin:10px 0px;
	color: white;
	border: none;
	background:#e0a63bf7;
}

#signup{
	padding-top: 50px;
	padding-bottom: 20px;
	background: rgba(0,0,0,0.03);
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}

.signup-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.signup-left-col{
	flex-basis: 50%;
	text-align:center;
	
}
.signup-left-col img{
	width: 80%;
	height: 450px;
}
.signup-right-col{
	flex-basis: 50%;
}

.signup-right-col h1{
	font-size: 90px;
}
.signup-right-col h2{
	font-size: 45px;
	letter-spacing: 60px;
	color: rgba(0,0,0,0.3);
	margin:10px 0px;
}


#services{
	padding: 50px 0px;
}
.services-info{
	text-align: center;
}
.services-info h1{
	font-size: 50px;
}
.services-info p{
	font-size: 25px;
	font-weight: bold;
}
.services-row{
	display: grid;
	grid-template-columns: repeat(3,200px);
	grid-auto-rows: minmax(150px,auto);
	grid-gap: 3em;
	justify-content: center;
	padding-top: 20px;
}
.services-box{
	box-shadow: 2px 3px 5px grey;
	padding: 10px;
	text-align: center;

}
.services-box i{
	background: #e0a63bf7;
	color: white;
	font-size: 30px;
	padding: 10px;
	margin-top: -20px;
}

#members{
	padding: 100px;
	background: url(images/dumble.png);
	background-size: 35% 35%;
	background-repeat: no-repeat;
	background-position: top right;
}
.member-card{
	text-align: center;
	padding-top: 50px;
	width: 50%;
	margin:auto;
	}

.member-card p{
	margin:20px 0px;
}
.member-card h2{
	margin:20px 0px;
}

#work{
	padding-top: 50px;
	padding-bottom: 200px;
	background: rgba(0,0,0,0.03);
	clip-path: polygon(0% 0%,100% 0%, 100% 100%,80% 80%,0% 100%);
}
.work-box{
	box-shadow: 2px 3px 5px grey;
}

.work-box img{
	width: 100%;
	height: 100%;
}



.heading{
text-align: center;
color: #c5a90a;
font-size: 65px;
}
#head{
    color: rgb(9, 0, 0);
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
    width: 800px;
    padding: 35px 35px;
  }
  
  .contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .3rem;
  }
  
  .contact .row .image{
    flex:1 1 40rem;
    
  }
  
  .contact .row .image img{
    width: 100%;
  }
  
  .contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(3, 159, 8, 0.1);
    border-radius: .5rem;
    margin:.5rem 0;
    width: 100%;
  }
  
  .contact .row form .box:focus{
    border-color: var(--pink);
  }
  
  .contact .row form textarea{
    height: 15rem;
    resize: none;
  }
  
  
   .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .box-container .box{
    flex:1 1 25rem;
  }
  
   .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
  }
  
   .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
   .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
  }
  
   .box-container .box  img{
    margin-top: 1rem;
  }
  
   .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
  }
  
   .credit span{
    color:var(--pink);
  }
  .Submit{
    background-color: #62ae2f;
    color: #f5f8f3;
    text-align: center;
    padding: 15px 15px;
    border-radius: 1rem;
    display: inline-block;
    font-size: 18px;
  }
  .Submit{
    transition-duration: 0.4s;
  }
  .Submit:hover{
    background-color: #f5f8f3;
    color: #62ae2f;
    border: 2px solid #5dfd0e;
  }
  #end{
    color: #49c70a;
    font-size: 25px;
  }

#footer{
	background: black;
	color:white;
	padding: 10px;
	display: flex;

	justify-content: space-around;
	align-items: center;
}


#footer h1{
	font-size: 50px;
}
#footer p{
	font-size: 25px;
}



.form{

	width: 70%;
	margin:auto;
	text-align: center;
}
.form input[type="text"]{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 70%;
	padding: 10px;
	margin-bottom: 10px;
}



.c_btn{
	background: black;
	color: white;
	padding: 10px;
	width: 50%;
	border:none;
}